

<div>

  <h2>Update the drone</h2>

  <form action="/drones/{{droneToUpdate._id}}/edit" method="POST"> 

    <label for="name">Name:</label>
    <input type="text" name="name" value="{{droneToUpdate.name}}"/>
    <br />
    <label for="propellers">Propellers:</label>
    <input type="text" name="propellers" value="{{droneToUpdate.propellers}}"/>
    <br />
    <label for="maxSpeed">Speed:</label>
    <input type="text" name="maxSpeed" value="{{droneToUpdate.maxSpeed}}"/>
    <br />
    <button type="submit">Update</button>

  </form>

</div>